# Exercises Chapter 4

### Exercise 4.4

In [1]:
import numpy as np
import networkx as nx

def print_pagerank(A, R, tol=1e-3, max_iter=1000, print_steps=True):
    n = A.shape[0]
    out_degree = np.sum(A, axis=1)

    for k in range(max_iter):
        if print_steps:
            print('step %d: %s' % (k, R))

        R_new = np.zeros(n)
        for i in range(n):
            for j in range(n):
                R_new[i] += A[j,i]*R[j]/out_degree[j]
                
        if max(abs(R_new - R)) < tol:
            print('converged on step %d' % k)
            return R_new

        R = R_new

In [2]:
D = nx.DiGraph()
D.add_edges_from([('A','C'), ('C','A'), ('C', 'B'), ('A','B'), ('B','A')])

A = nx.adjacency_matrix(D, nodelist=sorted(D.nodes())).todense()
n = D.number_of_nodes()
R = np.ones(n)/n

print_pagerank(A,R)

step 0: [0.33333333 0.33333333 0.33333333]
step 1: [0.5        0.33333333 0.16666667]
step 2: [0.41666667 0.33333333 0.25      ]
step 3: [0.45833333 0.33333333 0.20833333]
step 4: [0.4375     0.33333333 0.22916667]
step 5: [0.44791667 0.33333333 0.21875   ]
step 6: [0.44270833 0.33333333 0.22395833]
step 7: [0.4453125  0.33333333 0.22135417]
step 8: [0.44401042 0.33333333 0.22265625]
converged on step 8

array([0.44466146, 0.33333333, 0.22200521])

### Exercise 4.9

In [3]:
# Set up your keys and tokens
consumer_key = ''
consumer_secret = ''
access_token = ''
access_token_secret = ''
bearer_token = ''

In [4]:
import tweepy

# Authenticate to Twitter
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# Create API V1 object
api = tweepy.API(auth)

user = 'joao_p_n'

# Get all followers of the user
followers = api.get_follower_ids(screen_name = user)

# limited to 100 users per request
followers_data = api.lookup_users(user_id=followers)

In [5]:
data_followers = []
for follower in followers_data:
    data_followers.append([follower.screen_name, follower.followers_count, follower.friends_count, follower.statuses_count])
data_followers = pd.DataFrame(data_followers, columns=['screen_name', 'followers_count', 'friends_count', 'statuses_count'])

print('User %s has %d followers. Their followers have on average %d followers.' % (user, data_followers.shape[0], data_followers.followers_count.mean()))

data_followers.head()

User joao_p_n has 82 followers. Their followers have on average 1827 followers.

    screen_name  followers_count  friends_count  statuses_count
0     aroyehunS               39            211               6
1      lue_jula              465           1560              66
2     HaiLina16               36             66               0
3  emmafraxanet              260            221              84
4    apeksha_sh              223            248             154

In [6]:
# Using the V2 API

API2 = tweepy.Client(bearer_token=bearer_token, consumer_key=consumer_key, consumer_secret=consumer_secret, access_token=access_token, access_token_secret=access_token_secret)

user_id = API2.get_user(username=user).data.id

follower_ids = API2.get_users_followers(id=user_id)

followers = API2.get_users(usernames=follower_ids.data, user_fields=['public_metrics'])

In [7]:
data_followers = []
for follower in followers[0]:
    data_append = [follower.data['username'], follower.data['public_metrics']['followers_count'], follower.data['public_metrics']['following_count'], follower.data['public_metrics']['tweet_count']]
    data_followers.append(data_append)

data_followers = pd.DataFrame(data_followers, columns=['screen_name', 'followers_count', 'friends_count', 'statuses_count'])

print('User %s has %d followers. Their followers have on average %d followers.' % (user, data_followers.shape[0], data_followers.followers_count.mean()))

data_followers.head()

User joao_p_n has 82 followers. Their followers have on average 1827 followers.

    screen_name  followers_count  friends_count  statuses_count
0     aroyehunS               39            211               6
1      lue_jula              465           1560              66
2     HaiLina16               36             66               0
3  emmafraxanet              260            221              84
4    apeksha_sh              223            248             154